QWidget{
padding: 0px;
}
QTextEdit{
background-color: white;
color: black;
margin: 0px;
font-size: 12pt;
}
QGridLayout{
margin: 0px;
padding: 0px;
}
QTabWidget{
width: 800px;
height: 480px;
margin: 0px;
padding: 0px;
}
QTabBar::tab{
height: 30px;
width: 125px;
}
QComboBox{
font-size: 14pt;
text-align: center;
}
QPushButton{
width: 60px;
height: 20px;
}
QLineEdit{
font-size: 14pt;
padding-left: 5px;
}
