
#char{
font-size: 24pt;
font-weight: 550;
vertical-align: middle;
}

a{
font-size: 14pt;
}

a:hover{
background-color: yellow;
}

.free{
margin-right: 15px;
}

.eng{
display: block;
margin-right: 10px;
}

.rnd{
font-size: 16pt;
}

#about{
padding-top: 20px;
}

.hide .under{
display: none;
}

.hide:hover .under{
display: inline;
}
